*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: rgb(51, 49, 49);
}
.nav{
    display: flex;
    box-shadow: 5px 5px 5px rgb(179, 179, 196);
}
.bar{
    float: left;
    font-size: 25px;
    margin-right: 40%;
    font-weight: bold;
    padding-left: 60px;
    padding-top: 15 px;
    margin-top: 15px;
}
.list{
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-bottom: 10px;
    margin-top: 20px;
}
.list li{
    margin: 10px;
}
.list li a{
    padding: 10px 10px;
    margin: 5px;
    color: rgb(18, 175, 83);
    border-radius: 30px;
}
.list li a:hover{
    background-color: rgb(18, 175, 83);
    color: white;
    transition: 0.4s;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.list li select{
    color: rgb(18, 175, 83);
    border-color: white;
    outline: none;
    font-size: 15px;
}
.btnns{
    background-color:rgb(18, 175, 83) ;
    border: 2px solid rgb(18, 175, 83);
    color: white;
    padding: 5px 15px;
    border-radius: 27px;
    font-size: 15px;
}
.eat{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 100px;
    background-color: rgb(230, 255, 247);
    padding-bottom: 80px;
    padding-left: 30px;
}
.image{
    width: 650px;
    height: 400px;
    padding-right: 100px;
}
.btn{
    background-color:rgb(18, 175, 83) ;
    border: 2px solid rgb(18, 175, 83);
    color: white;
    padding: 8px 15px;
    border-radius: 27px;
    font-size: 15px;
    margin-top: 25px;
}
.btn:hover{
    border: 2px solid rgb(18, 175, 83) ;
    background-color: transparent;
    color: rgb(18, 175, 83);
    transition: 0.4s;
}
.book{
    display: flex;
    margin: 75px;
    margin-top: 30px;
}
.student{
    margin: 15px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    padding-bottom: 45px;
    background-color: rgb(230, 255, 247);
    border-radius: 20px;
}
.student img{
    height: 80px;
    width: 80px;
    padding-left: 25px;
}
.student h3{
    text-align: center;
}
.student p{
    text-align: center;
}
.student:hover{
    background-color: white;
    box-shadow: 3px 3px 10px 10px rgb(179, 179, 196);
    transition: 0.8s;
}
.onc{
    text-align: center;
    margin-top: 100px;
}
.course{
    display: flex;
    margin: 75px;
    margin-top: 10px;
}
.online-course{
   padding: 20px;
   margin: 15px;
   border-radius: 20px;
   box-shadow: 5px 5px 5px 5px rgb(179, 179, 196);
}
.online-course img{
    width: 334px;
    height: 230px;
}
.calendar{
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
}
.calendar div{
    display: flex;
    margin: 15px 0;
}    
.calendar img{
     height: 22px;
     width: 22px;
}
.btns{
    background-color:rgb(18, 175, 83) ;
    border: 2px solid rgb(18, 175, 83);
    color: white;
    padding: 8px 20px;
    border-radius: 27px;
    font-size: 15px;
    margin-top: 25px;
}
.man{
    display: flex;
    margin: 30px;
}
.man-style, .man-pic{
    margin: 5px;
}
.man-pic img{
    height: 200px;
    width: 200px;
    margin-left: 240px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgb(179, 179, 196);
    border-radius: 50%;
}
.man-style p{
    padding-top: 70px;
    margin-left: 10px;
    width: 70%;
}
.term{
    background-color: rgb(4, 4, 24);
    display: flex;
    color: white;
    padding-bottom: 60px;
}
.term-all{
    width: 30%;
    padding: 40px;
    padding-right: 10px;
    margin-left: 20px;
}
.terms {
    margin: 40px;
    margin-right: 150px;
}
.footer{
    background-color: rgb(4, 4, 24);
    color: white;
    text-align: center;
    font-size: 12px;
    padding-bottom: 15px;
}